.main-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h1 {
        font-size: 32px;

        @media only screen and (max-width: 600px) {
            font-size: 20px;
        }
    }

    h2 {
        font-size: 24px;
        text-align: center;

        @media only screen and (max-width: 600px) {
            font-size: 14px;
        }
    }

    h3 {
        font-size: 20px;
        text-align: center;

        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 400px;

        @media only screen and (max-width: 600px) {
            font-size: 11px;

        }
    }

    hr {
        margin: 64px 0;
    }

    .thin-border {
        border-bottom: 0.5px solid gray;
    }


    .introduction {
        padding: 12px;
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        gap: 12px;


        @media only screen and (max-width: 1000px) {
            display: grid;
            grid-template-columns: auto;
        }


        .left {
            img {
                width: 25rem;
                border-radius: 50%;

                @media only screen and (max-width: 1000px) {
                    width: 15rem;

                }
            }

            @media only screen and (max-width: 1000px) {
                text-align: center;
            }
        }

        .right {
            display: grid;
            grid-template-rows: 1fr 1fr;
            gap: 12px;

            .top {
                text-align: center;

                h1 {
                    margin-bottom: 36px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;

                @media only screen and (max-width: 600px) {
                    flex-direction: column;
                }

                .info {
                    p {


                        a {
                            text-decoration: none;
                            color: black;
                        }


                        i {
                            margin-right: 8px;
                        }

                        .fa-envelope {
                            color: #D44638;
                        }

                        .fa-phone-alt {
                            color: #0077b5;
                        }

                    }
                }

                .action {
                    margin: auto 0;

                    a {
                        border: 1px solid purple;
                        padding: 8px;
                        border-radius: 4px;
                        text-decoration: none;
                        color: black;

                        &:hover {
                            background-color: black;
                            color: white;

                        }

                        .fa-file {
                            color: purple;
                        }
                    }
                }
            }
        }
    }

    .experience {
        padding: 12px;
        display: flex;
        justify-content: space-around;

        .item {
            text-align: center;

            img {
                width: 120px;

                @media only screen and (max-width: 600px) {
                    width: 64px;
                }
            }

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


    .technology {
        padding: 12px;

        .row {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .item {
                text-align: center;

                img {
                    @media only screen and (max-width: 600px) {
                        width: 48px;
                    }
                }

                a {
                    color: black;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }



    }

    .contact {
        padding: 12px;
        display: flex;
        justify-content: space-around;
    }

    .footer {
        text-align: center;
        margin-top: 80px;
    }


}

.fab-phone {
    width: 3em;
    height: 3em;
    background-color: #10C469;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 black;
    transition: all 0.1s ease-in-out;


    font-size: 1.2em;
    color: white;
    text-align: center;
    line-height: 3em;

    position: fixed;
    right: 1.5em;
    bottom: 1.5em;

    &:hover {
        box-shadow: 0 6px 14px 0 black;
        transform: scale(1.05);
    }

    .fa-phone-alt {
        color: white;
    }
}